body {
    background-color: lightgrey;
    color: blue;
}
h1 {
    font-size: 36px; 
    font-family: sans-serif;
    text-align: center;
  }

h2, h3 {
    font-size: 24px;
    font-family: sans-serif;
    color: purple; 
  }

  p {
    line-height: 1.5; 
  }

  img {
    border: 5px solid black; 
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
  }
  
  /* Style the list items */
  ul li {
    display: inline-block;
    margin-left: 50px;
  }